
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{font:62.5%/1.3846 arial,helvetica,clean,sans-serif;background-color:#ccc}
.grid{font-size: 1.3em}
h1,h2,h3,h4,h5,strong,th,b{font-weight:bold;}
em,i{font-style:italic;}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
p,table,pre,fieldset,dl{margin: .6923em 0;}
ul,ol{margin:.6923em 1em;}
blockquote{margin:1.3846em 1em;}
pre,code,kbd,samp,tt {font-family:monospace;font-size:1.2296em;*font-size:1em;} 
ol,ul{margin-left:2em}
ul ul,ol ol,ol ul,ul ol{margin:0 0 0 2em}
ol{list-style:decimal outside}
ul{list-style:disc outside}
ul ul{list-style:circle outside}
ul ul ul{list-style:square outside}
dl dd{margin-left:1em;}
th,td{padding:.2em;border:1px solid #ddd}
th{text-align:center;background-color:#f0f0f0;}
thead{border-bottom:1px solid #eee}
tfoot{border-top:1px solid #eee}
table{border-collapse:collapse;margin:1.3846em 0}
caption{margin-bottom:.5em;text-align:center}
button{cursor:pointer}
h1{font-size: 1.3846em; line-height:1.5; margin:1em 0 .5em; } 
h2{font-size: 1.2307em; line-height:1.125; margin:1.125em 0 .5625em;} 
h3{font-size: 1.0769em; line-height:1.2857; margin:1.2856em 0 .6428em; } 
h4,h5,h6,h3.inline{font-size: 1em; margin:1.3846em 0 .6923em; } 
h5{font-style:italic;font-weight:normal;}
h4{color:#59331f;}
h3{color:#724128;}
h2{color:#985735;}
h1{color:#000;}
h3.inline,h4.inline,h5.inline,h6.inline{display:inline;float:left;margin:0;padding-right:.3em}
.whole_rhythm {margin: 1.3846em 0} 
.half_rhythm {margin: .6923em 0} 
.no_top_margin{margin-top:0}
.no_bottom_margin{margin-bottom:0}
.no_margin{margin:0}
.content a{color:#2f4a8b}
.content a:hover,.content a:active{color:#985735}
.content a:visited{color:#642a8f}
img{border:0}
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}     
.inline_list_right li{display:inline;margin-left:.4em;}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}
.small,sup,sub{font-size:.8461em;} 
.small sup,.small sub{font-size:1em}
.small{line-height:1.6363em}
sup,sub{position:relative;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{top:.25em}
.shadow {-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}
.iconblock{overflow:hidden}
.icnblk_img{text-decoration:none;float:left;margin-right:1em;cursor:pointer}
.icnblk_img_right { float: right; margin-right: 0; margin-left: 1em;}
.icnblk_cntnt{display:table-cell;vertical-align:top;*zoom:1}
.icnblk_cntnt h1,.icnblk_cntnt h2,.icnblk_cntnt h3,.icnblk_cntnt h4{margin:0 0 .6923em}
.grid{ min-width:800px; max-width:1200px; width:100%; clear:both; margin:0 auto; text-align:left;overflow:hidden }
.col { margin-right: 1%; float: left; background-color: #fff; overflow:hidden; }
.last { *zoom:1; *margin-right:0; _margin-right:-6px;  }
.one_col { width: 7.3333%; }
.two_col { width: 15.6664%; }
.three_col { width: 23.9999%; }
.four_col { width: 32.3333%; }
.five_col { width: 40.6666%; }
.six_col { width: 48.9999% }
.seven_col { width: 57.3333%; }
.eight_col { width: 65.6666%; }
.nine_col { width: 73.9999%; }
.ten_col { width: 82.3333%; }
.eleven_col { width: 90.6666%; }
.twelve_col { width: 98.9999%; }
@media screen and (max-width: 1200px) {
	body > .grid > .twelve_col { width: 100%; }
}
body div.portal-debug-location#portal-debug-console,
body div#portal-debug-console  {
    font-family: Arial, Sans-Serif;
}
div.portal-debug-attribute-value {
    font-family: Courier, Monospace;
    font-size: 1.2em;
    line-height: 1.5;
    width: 90%;
    padding: 0;
    margin-left: 2px;
    color: #222;
}
body div.portal-debug-location#portal-debug-console {
    border: solid 1px #aaa;    
    margin: 0;
    padding: 2px;
    background-color: #fff;
    width: 96.5%;
    overflow: scroll;
    margin: 2em;
    height: 600px;
    font-family: arial, helvetica, sans-serif;
}
span.pagefixtures { width:100%; display:block; clear:both;}
body div#portaldata {
font-size: 1.3em;
}
body div.portal-debug-message {
    margin: 5px;
    background-color: #fff;
    border: none;
    border: solid 1px #ccc;
    border-width: 1px 0 0 1px;
}
body div.portal-debug-error {
    color: #c00;
    background-color: #fcc;
    font-family: Courier, Monospace;
    font-size: 1.2em;
    padding: 6px;
}
body div.portal-debug-location#portal-debug-console div.portal-debug-text {
font-family: Courier, Monospace;
padding: 6px;
}
body div.portal-debug-location {
	font-size: 1.2em;
    font-weight: normal;
    background-color: #ddddd0;
    border: none;
    border-top: solid 1px #aaa;
    color: #222;
    margin:0;
    padding: 3px;
}
body div.portal-debug-header {
	font-size: 1.2em;
    font-weight: bold;
    margin:0;
    padding:3px 0 0 3px;
    color: #444;
}
body div.portal-debug-warning {
   padding: 3px; 
   background-color: #ee8;
}
body div.portal-debug-xslttime,
body div.portal-debug-backendtime {
    font-family: Courier;
    font-size: 1.2em;
    width: 90%;
    margin-left: 16em;
    padding: 2px 0 0 0;
    color: #00f;
}
#debug_call_times div.portal-debug-header {
width: 16em;
float: left;
}
#debug_call_times div.portal-debug-backendtime,
#debug_call_tiems div.portal-debug-xslttime {
margin-top: 3px;
}
#portal-debug-console div.red { background-color: red; }
#portal-debug-console div.orange { background-color: orange; }
#portal-debug-console div.yellow { background-color: yellow; }
#portal-debug-console div.green { background-color: lime; }
#portal-debug-console div.blue { background-color: dodgerblue; }
#portal-debug-console div.purple { background-color: mediumpurple; }
#portal-debug-console div.pink { background-color: hotpink; }
#portal-debug-console div.gray { background-color: silver; }
#portal-debug-console div.gold { background-color: gold; }
#portal-debug-console div.white { background-color: white; }
dl#portaldata,
dl#portaldata pre {
font-family: Courier;
font-size: 10pt;
margin: 2em;
padding: 1em 1em 1em 0;
background-color: white;
border: solid 1px #ccc;
}
dl#portaldata dt,
dl#portaldata dd {
margin-bottom: 0.5em;
min-height: 1.8em;
font-family: courier, fixed, monospace;
}
dl#portaldata dd pre { white-space: pre; }
dl#portaldata dd.empty {
background-color: transparent;
}
dl#portaldata dt {
float: left;
width: 14em;
text-align: right;
clear: left;
}
dl#portaldata dd {
margin-left: 14.5em;
border-left: solid 1px #ccc;
padding-left: 0.5em;
background-color: #eeeee0;
}
dl#paf-debug dd pre {
    font-size: 1em;
}
h1.res_name a.imglogo {
    background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/251741) no-repeat scroll 0% 0%;
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 165px;
}
div.container { margin: 0 1.6em; }
.header { position: relative;}
#hg_left {  padding-top: 1.75em; }
#hg_left img {
max-width: 180px;
}
#hg_right img {
max-width: 180px;
}
h1, h2, h3, h4, h5, h6 { color: #985735; }
xh1 {  margin-top: 0; font-size: 180%; margin-bottom: 0.5em; }
xh2 { margin-bottom: 0.5em; margin-top: 1em; font-size: 140%;}
xh3 { font-size: 110%; border-bottom: solid 1px #ccc;  margin-bottom: 0.25em;   }
#hg_center ul {
      list-style-type: disc;
      margin-left: 1.5em;
      list-style-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/1457161);
      padding:0;
      margin-bottom: 1em;
}
      
p { margin-bottom: 1em; }
ul.col2, ul.col3 {
    width: 100%;
}
ul.col2 li {
    float:left;
    width: 48%;
    margin-left: 1%;
}
ul.col3 li {
    float: left;
    width: 32%;
    margin-left: 1%;
}
img#headshot { width: 200px; }
.jobtitle {
    font-size: 1.1em;
}
.jobtitle a {
    font-size: 80%;
}
body #container h1 { margin-top: 0.5em;}
      h1 {
      line-height: 1.2;
      }
      #container {
        padding-left: 200px;   
        padding-right: 210px;  
      }
      #container .column {
        position: relative;
        float: left;
      }
      #hg_center {
        width: 100%;
      }
      #hg_center .wrap {
      padding: 0 2em 0 0;
      }
      #hg_left {
        width: 180px;          
        right: 200px;          
        margin-left: -100%;
      }
      #hg_right {
        width: 210px;          
        margin-right: -210px;  
      }
      #footer {
        clear: both;
      }
      
      #hg_left {
        *left: 230px;           
      }
      #hg_left, #hg_right {
      padding: 1em 0;
      }
      #hg_left h2, #hg_right h2 {
      font-size: 140%;
      margin:0;
      }
      #hg_left ul, #hg_right ul {
      margin:.5em 0 1em;
      padding:0;
      list-style-type: none;
      }
      #hg_left p, #hg_right p {
      margin: .5em 0 1em;
      }
      
noscript p.nojs {
	background: #ffb url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/67327) no-repeat 5px center;
	padding: 4px;
	padding-left: 28px;
	margin:0;	
}
.last-updated {text-align: right; margin-right: 1em; color: #777; }
body.paf-nav .col1 { float: left; width: 70%;}
body.paf-nav .col2 { width: 28%; margin-left: 72%;}
#paf-nav .portlet ul li a.paf-nav-current { text-decoration: none; color: black; font-weight: bold; }
@media print {
   html, body { height: 100%; }
   div.page > div.container { min-height: 100%; margin-bottom: -20px; padding-bottom: 52px; position: relative;  }
   p.last-updated { position: relative; bottom: 0;  right: 0; height: 24px; color: black; }
}
@page { margin: 0.75in; }
.portlet { border-top: .4em solid #97b0c8; padding-top: .461em; margin: .769em 0 2.154em 0; overflow: visible; line-height: 1.231em; zoom:1; }
.portlet h1, .portlet h2, .portlet h3, .portlet h4, .portlet h5, .portlet h6 {color: #985735; font-weight: bold; display: inline;  }
.portlet .whatsthis {color: #14376c; white-space: nowrap; margin-left: .3em;}
.portlet ul { margin: 0; padding: 0; }
.portlet ul li { list-style-type: none; margin-top: .461em; border-bottom: 1px dotted #CCC; padding-bottom: 1px; position: relative; overflow: visible; zoom:1;  }
.portlet .portlet_list li { border-bottom: 0; }
.portlet ul li a { font-weight: normal; color: #14376c; text-decoration: none; }
.portlet ul li a:hover,.portlet ul li a:active{border-bottom:0}
.portlet ul a { _display: block; _float: left; _clear: left; }
.portlet .seemore { display: block; text-align: right; color: #14376c; font-size: .923em; text-decoration: none; margin-top: .8em; }
.portlet .portlet_section_header { text-decoration: none; font-weight: bold; color: #000; border-bottom:0 } 
.portlet li.two_line { height: 2.461em; height\0: 2.361em; overflow: hidden; }
.portlet .two_line a { max-height: 2.453em; overflow: hidden; display: block; }
.portlet .long_info, .portlet p, .portlet .two_line .source, .portlet .one_line_source, .portlet_content .image .desc { color: #777;}
.portlet .two_line .source, .portlet .one_line_source { white-space: nowrap; position: absolute; right: 0; background-color: white; padding-left: .3em; }
.portlet .two_line .source { top: 1.231em; }
.portlet .two_line .tertiary { font-size: .769em; color: #777; position: absolute; right:0; background-color: white; padding: .1em 0 0 .3em; top: 1.6em; top\0: 1.5em; }
.portlet .portlet_content p { margin: .8em 0; }
.portlet .buttonwrap { float: left; position: relative; top: -.1em; overflow: visible; }
.portlet .invert { color: #fff; background-color: #14376c; padding: 0 .2em; }
.portlet .tertiary { color: #777; text-align: right; line-height: 1.4em; position: relative; top: .1em; }
.portlet_content { position: relative; margin: 0; }
.portlet_content textarea { margin: 0 0 .9em; }
.portlet_content img { margin: .3em 1.4em .7em 0;}
.portlet_content .image { display: block; overflow: auto; overflow:hidden\0; }
.portlet_content .image .img_link { float: left; }
.portlet_shutter { background: url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/32197) no-repeat scroll left top;  display: block; float: right; width: 15px; height: 15px; position: absolute; top: -.2em; margin-left: .6em; right: 0; }
.shutter_closed { background-position: left bottom; }
.portlet .related li { border-bottom: 0; }
.portlet .right { text-align: right; }
.ra_qry, .ra_rcd { padding-left: 2em; }
.ra_qry { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/32182) no-repeat scroll 0 1px; }
.ra_rcd { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/32183) no-repeat scroll 0 1px; }
.sensor{border:1px solid #C8DDEB;background-color:#F7F9FB;padding:0 1em 1em;margin:1em 0}
.sensor .sensor_head { margin-bottom: 0; position: relative}
.sensor .sensor_head h3 { font-weight: normal; }
.sensor h3,.sensor h4,.sensor h5,.sensor h6{margin:.6923em 0 0}
.sensor .sensor_content{margin-bottom:1.1em}
.sensor p{margin:0}
.sensor .portlet_shutter { display: none; }
.no_p_margins{margin:0}
.portlet_head{margin-bottom:.461em;position: relative}
.portlet_title,.sensor_title{margin-right: 2em}
.portlet_title h3 { line-height: inherit; }
.header{background:#d5d5d5 url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/2375536) repeat-x scroll left bottom}
.header a{text-decoration:none}
.header a:hover{text-decoration:underline}
.search{margin:0 0 0 17em; padding:1.2em 0 .7em}
.search_form select,.search_form input,.search_form button{margin-right:.2em}
.search_form select{font-size:1.4em;width:8.5em;margin-right:.3em}
.search_form input{font-size:1.5em;width:48%;border:1px solid #999;display:inline-block;padding-right:1.4em;_width:100%}
@media screen and (min-width:900px){.search_form input{width:63%}}
.search_form .nowrap{display:inline;_zoom:1}
.searchlinks{font-size:1.2em;margin:.2em 0 0 11em;_zoom:1}
.searchlinks li{margin-right:1.2em;zoom:1}
.searchlinks .help{position:absolute;right:1em;margin-right:0;_margin-top:-.1em}
.searchlinks .hidden{display:none}
.searchlinks .visible{display:inline}
.search_form .wrap{position:relative;display:inline;_width:70%}
#cl{position:absolute;right:8px;top:-3px;top:-12px\9;*top:5px}
.search_form button{font-size:1.3em;border:0 none;cursor:pointer;overflow:visible;width:auto;background-color:#ddd;padding:.2em .4em;*padding:.2em .6em;_padding:.2em .4em;margin:0 .2em;*margin:0 .3em;*height:1.8em; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-shadow:.1em .1em .1em rgba(0,0,0,.5);-moz-box-shadow:.1em .1em .1em rgba(0,0,0,.5);-webkit-box-shadow:.1em .1em .1em rgba(0,0,0,.5);box-shadow:.1em .1em .1em rgba(0,0,0,.5)}
.search_form button.button_search{background-color:#47a;font-weight:bold;color:#fff;*margin-left:.5em}
.search_form button.button_search:active{background-color:#4c96df}
.search_form button.button_preview{background-color:#A64D48;font-weight:bold;color:#fff}
.search_form button.button_preview:active{background-color:#F27069}
.search_form input:focus{-moz-box-shadow:0 0 .3em rgba(211,186,44,.8)}
.rss_icon{position:relative;top:3px;margin-right:.3em}
.rss_menu{z-index:1001;display:none;font-size:1.2em}
.rss_menu legend{font-weight:bold;margin:2px 0 0 3px}
.rss_menu ul{margin:0;padding:0;list-style-type:none;padding-top:5px}
.rss_menu ul li{margin-bottom:.4em}
.rss_menu span,.rss_menu label{margin-right:.5em}
.rss_menu ul input{top:0}
.rss_menu dd{margin-left:0;margin-bottom:1em}
.rss_menu #rss_name{width:15em}
.rss_menu button{margin-top:.5em}
.rss_menu label{display:block}
.db_logo{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/3411999/img/3934) no-repeat scroll left top;display:block;height:36px;width:100px;text-indent:-9999px}
.res_logo{width:15em;left:1.6em;padding-top:.4em;position:absolute}
.res_logo h1{font-size:2em;font-weight:normal;margin:0}
.long{padding:.5em 0}
.long h1{font-size:1.8em;line-height:1.15}
.res_logo h1 a{color:#333;display:block;padding:.3em 0;text-shadow:1px 1px 1px rgba(240,240,240,.9)}
.res_tagline{display:none}
.res_logo h1 a,.res_logo h1 a:hover,.res_logo h1 a:visited{text-decoration:none}
h1.img_logo{margin:0}
h1.img_logo a{padding:0}
.header { height: 3em; padding-bottom: 0; margin-bottom: 1.231em;}
div.header div.res_logo h1.res_name { font-size: 1.4em; }
.header h1.img_logo, .header h1.img_logo a { height: 36px;}
.header h2.res_tagline { display: none; }
form.search_form {padding: 0.75em 0.5em 0 0; text-align: right; }
form.search_form button {margin-right: 1em; font-size: 90%;}
form.search_form input { width: 18em; font-size: 90%;}
.res_logo { padding-top: 0; margin-top: -0.2em;}
#searchbarlite { border: none; }
.jig-ncbiclearbutton-wrap {  border : solid 1px #888; }
div.res_logo { margin-top: 2px; }
div.header + div.localnav { margin-top: -1.231em; } 
