
body{font:62.5%/1.3846 arial,helvetica,clean,sans-serif;background-color:#ccc;margin:0}
.grid{font-size: 1.3em}
img{border:0}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
blockquote{margin:1.3846em 1em;}
p,table,pre,fieldset,dl{margin: 0.6923em 0;}
ol,ul{margin: 0.6923em 1em 0.6923em inherit}
dl dd{margin-left:1em;}
table{border-collapse:collapse;margin:1.3846em 0;}
thead{border-bottom:1px solid #eee;}
tfoot{border-top:1px solid #eee;}
th{text-align:center;background-color:#f0f0f0;}
th,td{padding:0.2em;border:1px solid #ddd;}
caption{margin-bottom:.5em;text-align:center;}
fieldset {border: 0;}
button{cursor:pointer;}
input,button,textarea{margin:2px;}
input[type="checkbox"] {margin: 3px 3px 3px 4px;}
textarea {font-family: monospace; font-size: 1.2296em; *font-size:1em; vertical-align:baseline;}
h1,.h1{font-size: 1.3846em; line-height:1.5; margin:1em 0 .5em; } 
h2,.h2{font-size: 1.2307em; line-height:1.125; margin:1.125em 0 .5625em;} 
h3,.h3{font-size: 1.0769em; line-height:1.2857; margin:1.2856em 0 .6428em; } 
h4,h5,h6,h3.inline{font-size: 1em; margin:1.3846em 0 .6923em; } 
h5,.h5{font-style:italic;font-weight:normal;}
h6, .h6 {font-weight: normal;}
h4,.h4{color:#59331f;}
h3,.h3{color:#724128;}
h2,.h2{color:#985735;}
h1,.h1{color:#000;}
h3.inline,h4.inline,h5.inline,h6.inline{display:inline;float:left;margin:0 0 -0.125em;padding-right:.3em}
.whole_rhythm {margin: 1.3846em 0} 
.half_rhythm {margin: .6923em 0} 
.no_top_margin{margin-top:0}
.no_bottom_margin{margin-bottom:0}
.no_margin{margin:0}
.content a{color:#2f4a8b}
.content a:hover,.content a:active{color:#985735}
.content a:visited{color:#642a8f}
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}     
.inline_list_right li{display:inline;margin-left:.4em;}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
body .no_max_width{max-width:none;overflow:auto}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}
.small,sup,sub{font-size:.8461em; line-height: 1.6363em;} 
.small sup,.small sub{font-size:1em}
sup,sub{position:relative;vertical-align:baseline;}
sup{top:-.5em}
sub{top:.25em}
.shadow {-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}
.iconblock{overflow:hidden}
.icnblk_img{text-decoration:none;float:left;margin-right:1em;cursor:pointer}
.icnblk_img_right { float: right; margin-right: 0; margin-left: 1em;}
.icnblk_cntnt{display:table-cell;vertical-align:top;*zoom:1}
.icnblk_cntnt h1,.icnblk_cntnt h2,.icnblk_cntnt h3,.icnblk_cntnt h4{margin:0 0 .6923em}
.grid{ min-width:800px; max-width:1200px; width:100%; clear:both; margin:0 auto; text-align:left;overflow:hidden }
.col { margin-right: 1%; float: left; background-color: #fff; overflow:hidden; }
.last { *zoom:1; *margin-right:0; _margin-right:-6px;  }
.col.last {float:right;}
.one_col { width: 7.3333%; }
.two_col { width: 15.6664%; }
.three_col { width: 23.9999%; }
.four_col { width: 32.3333%; }
.five_col { width: 40.6666%; }
.six_col { width: 48.9999% }
.seven_col { width: 57.3333%; }
.eight_col { width: 65.6666%; }
.nine_col { width: 73.9999%; }
.ten_col { width: 82.3333%; }
.eleven_col { width: 90.6666%; }
.twelve_col { width: 98.9999%; }
@media screen and (max-width: 1200px) {
	body > .grid > .twelve_col { width: 100%; }
}
body div.portal-debug-location#portal-debug-console,
body div#portal-debug-console  {
    font-family: Arial, Sans-Serif;
}
div.portal-debug-attribute-value {
    font-family: Courier, Monospace;
    font-size: 1.2em;
    line-height: 1.5;
    width: 90%;
    padding: 0;
    margin-left: 2px;
    color: #222;
}
body div.portal-debug-location#portal-debug-console {
    border: solid 1px #aaa;    
    margin: 0;
    padding: 2px;
    background-color: #fff;
    width: 96.5%;
    overflow: scroll;
    margin: 2em;
    height: 600px;
    font-family: arial, helvetica, sans-serif;
}
span.pagefixtures { width:100%; display:block; clear:both;}
body div#portaldata {
font-size: 1.3em;
}
body div.portal-debug-message {
    margin: 5px;
    background-color: #fff;
    border: none;
    border: solid 1px #ccc;
    border-width: 1px 0 0 1px;
}
body div.portal-debug-error {
    color: #c00;
    background-color: #fcc;
    font-family: Courier, Monospace;
    font-size: 1.2em;
    padding: 6px;
}
body div.portal-debug-location#portal-debug-console div.portal-debug-text {
font-family: Courier, Monospace;
padding: 6px;
}
body div.portal-debug-location {
	font-size: 1.2em;
    font-weight: normal;
    background-color: #ddddd0;
    border: none;
    border-top: solid 1px #aaa;
    color: #222;
    margin:0;
    padding: 3px;
}
body div.portal-debug-header {
	font-size: 1.2em;
    font-weight: bold;
    margin:0;
    padding:3px 0 0 3px;
    color: #444;
}
body div.portal-debug-warning {
   padding: 3px; 
   background-color: #ee8;
}
body div.portal-debug-xslttime,
body div.portal-debug-backendtime {
    font-family: Courier;
    font-size: 1.2em;
    width: 90%;
    margin-left: 16em;
    padding: 2px 0 0 0;
    color: #00f;
}
#debug_call_times div.portal-debug-header {
width: 16em;
float: left;
}
#debug_call_times div.portal-debug-backendtime,
#debug_call_tiems div.portal-debug-xslttime {
margin-top: 3px;
}
#portal-debug-console div.red { background-color: red; }
#portal-debug-console div.orange { background-color: orange; }
#portal-debug-console div.yellow { background-color: yellow; }
#portal-debug-console div.green { background-color: lime; }
#portal-debug-console div.blue { background-color: dodgerblue; }
#portal-debug-console div.purple { background-color: mediumpurple; }
#portal-debug-console div.pink { background-color: hotpink; }
#portal-debug-console div.gray { background-color: silver; }
#portal-debug-console div.gold { background-color: gold; }
#portal-debug-console div.white { background-color: white; }
dl#portaldata,
dl#portaldata pre {
font-family: Courier;
font-size: 10pt;
margin: 2em;
padding: 1em 1em 1em 0;
background-color: white;
border: solid 1px #ccc;
}
dl#portaldata dt,
dl#portaldata dd {
margin-bottom: 0.5em;
min-height: 1.8em;
font-family: courier, fixed, monospace;
}
dl#portaldata dd pre { white-space: pre; }
dl#portaldata dd.empty {
background-color: transparent;
}
dl#portaldata dt {
float: left;
width: 14em;
text-align: right;
clear: left;
}
dl#portaldata dd {
margin-left: 14.5em;
border-left: solid 1px #ccc;
padding-left: 0.5em;
background-color: #eeeee0;
}
dl#paf-debug dd pre {
    font-size: 1em;
}
h1.res_name a.imglogo {
    background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4005242/img/251741) no-repeat scroll 0% 0%;
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 165px;
}
.dbheader .headerimage { background-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/4005242/img/4005231); }
.container { margin: 0 1.6em;}
#future_table tbody tr.mkhoz td { border-bottom: 1px solid gray; }
#past_table tbody tr.mkhoz td { border-bottom: 1px solid gray; }
#original_wrap { display: none; }
#future_table td.expand, #past_table td.expand { width: 50%; }
#future_table th, #future_table td, #past_table th, #past_table td { width: 10%; }
.mk_bold { font-weight: bold; }
.mk_top { vertical-align: top; }
noscript p.nojs {
	background: #ffb url(//static.pubmed.gov/portal/portal3rc.fcgi/4005242/img/67327) no-repeat 5px center;
	padding: 4px;
	padding-left: 28px;
	margin:0;	
}
.dbheader { height: 10.769em; overflow: hidden; border: 1px solid #000; }
.dbheader .headerimage { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4005242/img/32161) no-repeat 58% 52%; background-size: 100% 100%; height: 100%; width: 33%; float: left; _left:0px; _position:absolute; }
.dbheader .headerintro { background-color: #141927; border-left: 1px solid #000; height: 100%; margin-left: 33%;  }
.dbheader .headerintro h1 { color: #f7f7f7; font-size: 1.846em; font-weight: bold; background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4005242/img/32161) repeat-y 0 0; margin:0; padding: .333em .75em .333em .75em; line-height: 1em; }
.headerintro .dbdescription { color: #f7f7f7; font-size: 1.077em; padding: 1.285em; }
.dbheaderad { height: 14.2em; margin: 1.6em 1.6em 2.8em; overflow: hidden; }
.dbheaderad .aboutdb { width: 66%; border: 1px solid #000; height: 14em; float: left; _height: 100%; }
.dbheaderad .aboutdb .headerimage { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4005242/img/32161) no-repeat 20% 52%; height: 100%; width: 17%; float: left; }
.dbheaderad .aboutdb .headerintro { background-color: #141927; border-left: 1px solid #000; height: 100%; margin-left: 17%; }
.dbheaderad .aboutdb .headerintro h1 { color: #f7f7f7; font-weight: bold; background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4005242/img/32161) repeat-y 0 0; margin:0; padding: .333em .75em .75em; }
.dbheaderad .aux { color: #f7f7f7; border: 1px solid #000; margin:0; width: 31%; height: 7.43em; margin-left: 68%; font-size: 1.4em; padding: 1.285em; zoom:1; *width: 27.2%; _width: 100%; _height: 100%; }
.tier { margin: 1.6em 0 2.8em; overflow: auto; zoom: 1;}
.tier .onecol { width: 32%; margin-right: 2%; float: left; } 
.tier .lastcol { margin-right: 0; *width: 31.5%; }
.img-credit { color: #777; text-align: right; margin: 0 1.6em -1.5em; }
.firsttier_portlet h1, .firsttier_portlet h2, .firsttier_portlet h3, .firsttier_portlet h4, .firsttier_portlet h5, .firsttier_portlet h6 { color: #985735; background-color: #fafafa; border-top: .2em solid #f7f7f7; border-bottom: .2em solid #f7f7f7; padding-top: .3em; padding-bottom: .3em; margin:0; }
.firsttier_portlet .portlet_head { margin: 0; }
.firsttier_portlet .portlet_content ul { margin: 0; padding: 0; }
.firsttier_portlet .portlet_content ul li { padding-top: .4em; border-bottom: 1px dotted #ccc; padding-bottom: .3em; list-style-type: none; }
.firsttier_portlet .portlet_content ul li a { color: #14376c; }
.sidecontentpullout {
	background-color: #c00;
	color: white;
	padding: 4px 3px;
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-webkit-border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	font-size: 1.2em;
	opacity: 1 !important;
}
.sidecontentpullout:hover {
	background-color: #444444;
	color: white;
	opacity: 1 !important;
}
.sidecontent {
    font-size: 1.2em;
	background-color: black;
	color: white;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
	zoom: 1;
	z-index: 10000 !important;
}
.sidecontent > div > div {
	padding-left: 10px;
	padding-right: 40px;
}
.sidecontent h2 { color: white; }
.sidecontent a { color: white; display: block; margin: 0; padding: 2px 5px;}
.sidecontent a:hover { background-color: #666;}
.sidecontent, .sidecontentpullout { position: fixed !important; }
.sctable td { border: none; padding-right: 5px;}
div.nav_and_browser div.error { margin: 1em; margin-bottom: 0; }
div.page div.header { margin-bottom: 0;}
div.xpage div.nav_and_browser { margin-bottom: 1.231em; }
div.paf-debug-wrap {
display: block;
margin: 1em 2em;
color: black;
background-color: white;
clear:both;
}
div.paf-debug-content {
max-height: 300px;
margin:auto;
overflow: auto;
border: solid 1px #ccc;
font-family: Courier, Monospace;
font-size: 10pt;
}
div.paf-debug-wrap h3 {
background-color: #ccc;
color: #444;
font-size: 110%;
margin: 0;
padding: 5px;
}
ul#paf-debug-trace {
margin:0;
padding:0;
padding-left: 1em;
margin-left: 1em;
}
ul#paf-debug-trace li {
list-style-type: disc;
}
dl#paf-debug dt,
dl#paf-debug dd {
margin-bottom: 0.5em;
min-height: 1.8em;
font-family: courier, fixed, monospace;
}
dl#paf-debug dd pre { white-space: pre; }
dl#paf-debug dd.empty {
background-color: transparent;
}
dl#paf-debug dt {
float: left;
width: 14em;
text-align: right;
clear: left;
}
dl#paf-debug dd {
margin-left: 14.5em;
border-left: solid 1px #ccc;
padding-left: 0.5em;
background-color: #eeeee0;
color: black;
}
dl#paf-debug pre {
margin:0;
}
